body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f172a;
}

.container {
    width: 400px;
    background: radial-gradient(circle farthest-corner at center center, rgb(60, 1, 57) 17.8%, rgb(1, 58, 60) 100.2%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.30s ease;
}
.login-form{
    color: #ffffff;
    margin: 35px;
}
.signup-form{
    color: #ffffff;
    margin: 35px;
    
}
form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
    transition: background-image 0.3s ease-in-out;
}

button:hover {
    background-image: linear-gradient(to bottom, #0056b3, #007bff);
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
