<form id="signup-form" class="signup-form">
            <h2>Sign Up</h2>
            <input type="text" id="signup-username" placeholder="Username">
            <input type="password" id="signup-password" placeholder="Password">
            <input type="password" id="signup-confirm-password" placeholder="Confirm Password">
            <button type="submit">Sign Up</button>
        </form>