/* registration.css */

body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  background: radial-gradient(circle farthest-corner at center center, rgb(60, 1, 57) 17.8%, rgb(1, 58, 60) 100.2%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.30s ease;
}

.registration-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  animation: slideInFromTop 1s ease;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="radio"] {
  width: calc(100% - 24px);
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="password"]:focus,
.registration-form input[type="radio"]:focus {
  background-color: #e0e0e0;
}

.registration-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form button[type="submit"]:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a:hover {
  color: #0056b3;
}

/* Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
